<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='direct.js') }}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Socket.IO</title>
    <style>
        html, body {
            height: 100%;
        }
        .container-fluid {
            background-color: #FDFEFE;
            color: #001f3f;
        }
        .nav {
            background-color: #0074D9;
        }
        .nav, a {
            color: #DDDDDD;
        }
    </style>
    </head>
    <div class="container-fluid">
    <body>
      <nav class="nav">
        <a class="nav-link" href="{{ url_for('index') }}">Index</a>
      </nav>
      <ul id="messages">
      {% for msg in messages %}
        <li> {{ msg }}
      {% endfor %}
      </ul>
      <h2 id="display_name"></h2>
      <h2 id="debug"></h2>
      <h3 id="canal"></h3>
      <div
      id="selected_contact" data-selected_contact="{{ selected_contact }}">
      </div>
      <form id="new-message">
          <div class="form-group">
          <input type="text" class="form-control" id="message" autocomplete="off" placeholder="Write a message to {{ selected_contact }}">
          </div>
          <input id="message-submit" type="submit">
      </form>
      </div>
    </body>
</html>
